<div id="controles">
    <div class="arrows-round">
        <a class="move-arrows" href="{{ left_href }}" title="{{ left_title }}">◄</a>
        <div class="center-up-down">
            <a class="move-arrows" href="{{ up_href }}" title="{{ up_title }}">▲</a>
            <a class="move-arrows" href="{{ down_href }}" title="{{ down_title }}">▼</a>
        </div>
        <a class="move-arrows" href="{{ right_href }}" title="{{ right_title }}">►</a>
    </div>
    <a href="{{ select_href }}" title="{{ select_title }}">
        <span class="start_select">SELECT</span></a>

    <a href="{{ start_href }}" title="{{ start_title }}">
        <span class="start_select">START</span></a>

    <div class="buttons-ab">
        <a class="b-but" href="{{ b_href }}" title="{{ b_title }}">B</a>
        <a class="a-but" href="{{ a_href }}" title="{{ a_title }}">A</a>
    </div>

</div>
