{% extends "base.html" %}

{% block title %}
Options
{% endblock %}

{% block style %}
	{% load static %}
{% endblock %}

{% block content %}

<div id="console">
	
	<div id="ecran">

		<div>Options</div>
			<div>
                <div>A - Save</div>
                <div>B - Quit</div>
                <div>start - cancel</div>
            </div>
	</div>
	
	{% include "controles.html" %}
</div>

{% endblock %}


<!--
<div id="info">
    	<a href="/worldmap" title="Back to World Map">Start</a>
    	<a href="/" title="Quit">B</a>
    	<a href="/options/save_game" title="Save">A</a>
	</div>-->